* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


html,
body {
    background-color: goldenrod;
    display: grid;
}


header-info {
    padding-bottom: 20px;
    margin: 10px;
}


/*
display was block.
*/
header {
    color: darkblue;
    font-family: Garamond;
    max-width: max-content;
    margin: auto;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}


.header-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}


.linkedin-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}


.github-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}


body {
    color: darkblue;
    font-family: Garamond;
    margin: auto;
    display: grid;
    align-items: center;
    justify-content: center;
}

body,
p {
    max-width: 900px;
    width: 875px;
    font-size: 25px;
    text-align: left;
}

p {
    background-color: white;
    border: medium solid;
    border-radius: 25px;
    padding: 15px;
}

.week-one-song {
    padding: 20px;
}